#jinja2: lstrip_blocks: "True", trim_blocks: "True"

{% for i in iaps %}
set firewall family inet filter PACKET-FORWARDING-SCU-FILTER term GW{{i}}-SOURCE-FROM-NFG-AFTER-INSPECTION from source-prefix-list GW{{i}}-FOR-IAP-TESTING
set firewall family inet filter PACKET-FORWARDING-SCU-FILTER term GW{{i}}-SOURCE-FROM-NFG-AFTER-INSPECTION then count TO-GW{{i}}-FOR-IAP-TESTING
set firewall family inet filter PACKET-FORWARDING-SCU-FILTER term GW{{i}}-SOURCE-FROM-NFG-AFTER-INSPECTION then routing-instance TO-IAP{{i}}
{% endfor %}

{% for h in iap_id %}
{% if h.host == item[0] %}
set firewall family inet filter PACKET-FORWARDING-SCU-FILTER term GW{{h.id}}-SOURCE-FROM-NFG-AFTER-INSPECTION from source-prefix-list GW31-FOR-IAP-TESTING
set firewall family inet filter PACKET-FORWARDING-SCU-FILTER term GW{{h.id}}-SOURCE-FROM-NFG-AFTER-INSPECTION from interface ae1.200
set firewall family inet filter PACKET-FORWARDING-SCU-FILTER term GW{{h.id}}-SOURCE-FROM-NFG-AFTER-INSPECTION then count AFTER-INSPECTION-IAP-SRC
set firewall family inet filter PACKET-FORWARDING-SCU-FILTER term GW{{h.id}}-SOURCE-FROM-NFG-AFTER-INSPECTION then routing-instance TO-NIPR-FROM-WCF

{% endif %}
{% endfor %}