#jinja2: lstrip_blocks: "True", trim_blocks: "True"

{% for i in iaps %}
set firewall family inet filter PACKET-FORWARDING-SCU-FILTER term TO-GW{{i}}-FOR-NFG-TESTING from source-prefix-list GW{{i}}-FOR-IAP-TESTING
set firewall family inet filter PACKET-FORWARDING-SCU-FILTER term TO-GW{{i}}-FOR-NFG-TESTING then count TO-GW{{i}}-FOR-IAP-TESTING
set firewall family inet filter PACKET-FORWARDING-SCU-FILTER term TO-GW{{i}}-FOR-NFG-TESTING then routing-instance TO-IAP{{i}}
{% endfor %}

{% for h in iap_id %}
{% if h.host == item[0] %}
set firewall family inet filter PACKET-FORWARDING-SCU-FILTER term GW{{h.id}}-SOURCE-FROM-NFG-AFTER-INSPECTION from source-prefix-list GW{{h.id}}-FOR-IAP-TESTING
set firewall family inet filter PACKET-FORWARDING-SCU-FILTER term GW{{h.id}}-SOURCE-FROM-NFG-AFTER-INSPECTION from interface ae1.200
set firewall family inet filter PACKET-FORWARDING-SCU-FILTER term GW{{h.id}}-SOURCE-FROM-NFG-AFTER-INSPECTION then count AFTER-INSPECTION-IAP-SRC
set firewall family inet filter PACKET-FORWARDING-SCU-FILTER term GW{{h.id}}-SOURCE-FROM-NFG-AFTER-INSPECTION then routing-instance TO-NIPR-FROM-WCF

set firewall family inet filter PACKET-FORWARDING-SCU-FILTER term GW{{h.id}}-SOURCE-FROM-NFG-BEFORE-INSPECTION from source-prefix-list GW{{h.id}}-FOR-IAP-TESTING
set firewall family inet filter PACKET-FORWARDING-SCU-FILTER term GW{{h.id}}-SOURCE-FROM-NFG-BEFORE-INSPECTION then count BEFORE-INSPECTION-IAP-SRC
set firewall family inet filter PACKET-FORWARDING-SCU-FILTER term GW{{h.id}}-SOURCE-FROM-NFG-BEFORE-INSPECTION then routing-instance TO-WCF-NIPR-TAG{{h.id}}

set firewall family inet filter PACKET-FORWARDING-SCU-FILTER term GW{{h.id}}-DESTINATION-TO-NFG-AFTER-INSPECTION from destination-prefix-list GW{{h.id}}-FOR-IAP-TESTING
set firewall family inet filter PACKET-FORWARDING-SCU-FILTER term GW{{h.id}}-DESTINATION-TO-NFG-AFTER-INSPECTION from interface ae1.210
set firewall family inet filter PACKET-FORWARDING-SCU-FILTER term GW{{h.id}}-DESTINATION-TO-NFG-AFTER-INSPECTION then count AFTER-INSPECTION-IAP-DST
set firewall family inet filter PACKET-FORWARDING-SCU-FILTER term GW{{h.id}}-DESTINATION-TO-NFG-AFTER-INSPECTION then routing-instance NFG-DCU-FROM-DJI

set firewall family inet filter PACKET-FORWARDING-SCU-FILTER term GW{{h.id}}-DESTINATION-TO-NFG-BEFORE-INSPECTION from destination-prefix-list GW{{h.id}}-FOR-IAP-TESTING
set firewall family inet filter PACKET-FORWARDING-SCU-FILTER term GW{{h.id}}-DESTINATION-TO-NFG-BEFORE-INSPECTION then count BEFORE-INSPECTION-IAP-DST
set firewall family inet filter PACKET-FORWARDING-SCU-FILTER term GW{{h.id}}-DESTINATION-TO-NFG-BEFORE=INSPECTION then routing-instance TO-WCF-ISP-TAG{{h.id}}
{% endif %}
{% endfor %}