#jinja2: lstrip_blocks: "True", trim_blocks: "True"

set policy-options prefix-list GW{{reroute_tag}}-FOR-NFG-TESTING {{ iap_prefix }}
set firewall family inet filter PACKET-FORWARDING-SCU-FILTER term TO-GW{{reroute_tag}}-FOR-NFG-TESTING from prefix-list GW{{reroute_tag}}-FOR-NFG-TESTING